.project-card {
  text-align: center;
  height: 490px;
  border-style: double;
  border-width: 2px;
  border-radius: 15px;
  border-color: #e5cff7;
  box-sizing: border-box;
  font-family: monospace;
  margin-right: 15px;
  padding: 5px;
}

@media only screen and (max-width: 1024px) {
  .project-card {
    height: 560px;
    padding: 0px;
  }
}

.project-card img {
  width: 100%;
  border-width: 2px;
  height: 180px;
}

.project-card h5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.project-card-description {
  margin-top: 20px;
  font-size: 12pt;
  padding-left: 10px;
  padding-right: 10px;
}

.project-card-tech-stack {
  font-size: 12pt;
  font-family: "IBM Plex Mono", monospace;
}

.centered-row {
  width: 30%;
}

.project-card-href img {
  max-width: 30px;
  max-height: 30px;
  margin-top: 15px;
}
