.overview {
    margin-top: 130px;
    margin-bottom: 100px;
    animation: fade-in 5s;
}

.overview p {
    font-family: monospace;
    margin-bottom: 50px;
}

.aspect {
    margin-right: 75px;
    text-align: center;
    height: 260px;
    border-style: double;
    border-width: 2px;
    border-radius: 15px;  
    border-color: #E5CFF7;
    padding: 20px; 
    box-sizing: border-box;
    font-family: monospace;
}

.aspect:hover {
    background-color:rgb(109, 172, 175);
    color: black;
}

.aspect p {
    font-family: 'IBM Plex Mono', monospace;
}

.aspect-icon {
    margin-top: 10px;
    margin-bottom: 15px;
}

.aspect-icon img {
    width: 60px
}

.tech-channel {
    padding-top: 50px;
}

.tech-channel strong {
    color: #a2d6f7;
}