nav {
  text-align: center;
}
nav ul {
  font-size: 11pt;
  /* font-family: monospace; */
  font-family: 'Major Mono Display', monospace;
  margin-top:30px;
}
  
.header-navlink {
  text-decoration: none;
  color: white;
  margin-left: 50px;
}
  