nav {
  /* text-align: center; */
  margin: auto;
}
nav ul {
  font-size: 14pt;
  font-family: 'Major Mono Display', monospace;
  margin-top:30px;
}
  
.header-navlink {
  text-decoration: none;
  color: white;
  margin-left: 50px;
}
  