.big-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    margin-bottom: 15px;
}

.section-header u {
    position: relative;
    text-decoration: none;
}

.section-header u::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px; 
    background-color: #A7D397;
}

.section-header {
    margin-bottom: 10px;
}