.big-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    margin-bottom: 15px;
}

u {
    position: relative;
    text-decoration: none;
}

u::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px; 
    background-color: #A7D397;
}
