@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Indie+Flower&family=Klee+One&family=Major+Mono+Display&family=Red+Hat+Mono:wght@300&family=Shadows+Into+Light&family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  /* background-image: url('/Assets/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  */
}
