@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Indie+Flower&family=Klee+One&family=Major+Mono+Display&family=Red+Hat+Mono:wght@300&family=Shadows+Into+Light&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@600&family=Major+Mono+Display&display=swap&family=IBM+Plex+Mono:ital,wght@1,100');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  overflow-y: scroll;
}

:root {
  overflow-x: hidden;
}

.big-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  margin-bottom: 15px;
}

@keyframes jello {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.99);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}