.project-card {
    text-align: center;
    height: 500px;
    border-style: double;
    border-width: 2px;
    border-radius: 15px;  
    border-color: #E5CFF7;
    box-sizing: border-box;
    font-family: monospace;
    margin-right: 15px;
}

.project-card img {
    width: 100%;
    border-width: 2px;
    height: 200px;
    /* border-top-left-radius: 15px; 
    border-top-right-radius: 15px;  */
}

.project-card h5{
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-card-description {
    margin-top: 25px;
}

.link-icon {
    width: 50px;
    margin: auto;
    margin-top: 40px;
}

.link-icon img {
    height: 100%;
}